/* setting the border and margin to all elements */
* {
    box-sizing: border-box;
    margin: 0px;
}
/* setting the body color */
body {
    background-color: #d9dcd6;
}
/* setting the header section  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline;
    font-size: 45px;
}
.header h1 .seo {
    color: #d9dcd6;
}
/*setting the header division  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* setting no style to the unordered list*/
.header div ul {
    list-style-type: none;
}
/* setting the list elements to inline and margin */
.header div ul li {
    display: inline;
    margin-left: 25px;
}
/* text of the link should not have text decoration and with the white color and large font. */
a {
    color: #ffffff;
    text-decoration: none;
    font-size: large;
}
/* paragraph size to 16px*/
p {
    font-size: 16px;
}
/* setting the hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../img/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* image should appear to the left of the text or paragraph */
.float-left {
    float: left;
    margin-right: 25px;
}
/* image should appear to the right of the text or paragraph */
.float-right {
    float: right;
    margin-left: 25px;
}
/* setting the content to inline-block with appropriate size and margin */
.content {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}
/* setting the benefit section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*In the benefit section , setting the font to the 3 element to white and bottom margin to 32px  */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* aligning the headings in the center and setting the bottom margin*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* setting the section image as block element and size  */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Setting the section sizes   */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* setting appropriate image height */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/* margin and font size to main headings  */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*styling the footer by footer class */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Giving appropriate font size to footer heading */
.footer h2 {
    font-size: 20px;
}